
.observation_popup{
    position: relative;
    max-width: 15vw;
}

.observation_img {
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #200a3a;
}

nav .container a i {
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke !important; 
}


.filter {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
}

.filter ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter ul li {
    list-style: none;
}

.last_upload {
    position: absolute;
    bottom: 3vh;
    left: 3vw;
    z-index: 5;
}