{% extends 'base.html' %}

{% block content %}
{% load static %}
      {% if user.is_authenticated %}
      {{user.username}}
      {% if perms.observations.can_upload_observation %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="Save" />
      </form>  
      {% else %}
      <div class="display-3 text-center mt-5 pt-5">You haven't been allowed to upload images</div>
      <div class=""><a href={% url 'home' %}>Return to the homepage</a></div>
      {% endif %}
      {% endif %}
{% endblock content %}